
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>add to collection</h1>
        <form class="" action="/add" method="post">
    <input type="text" name="pokemonName" value="" placeholder="Pokemon Name">
    <input type="text" name="Color" value="" placeholder="Color of Pokemon">
    <input type="Number" name="level" value="" placeholder="Pokemon's level">

    <selction class="types">
      <input type="text" name="typeOne" value="" placeholder="Primary Type">
      <input type="text" name="typeTwo" value="" placeholder="Secondary Type(if any)">
    </selction>

    <section class="select">
      <div class="option-1">
        <input type="radio" name="game" value="Red"> Red
      </div>
      <div class="option-1">
        <input type="radio" name="game" value="Blue"> Blue
      </div>
      <div class="option-1">
        <input type="radio" name="game" value="Gold"> Gold
      </div>
      <div class="option-1">
        <input type="radio" name="game" value="Silver"> Silver
      </div>
      <div class="option-1">
        <input type="radio" name="game" value="Ruby"> Ruby
      </div>
      <div class="option-1">
        <input type="radio" name="game" value="Sapphire"> Sapphire
      </div>
      <div class="option-1">
        <input type="radio" name="game" value="Not Mentioned"> Other games not mentioned
      </div>
    </section>

     <input type="submit" name="submit" value="Add">

    </form>
    <h1>current collection</h1>
    {{#model}}
      <form class="" action="/extra/{{_id}}" method="post">
          {{name}} {{color}}
        <input type="submit" name="seeChanges" value="edit/delete">
      </form>

    {{/model}}
  </body>
</html>
